.actualDayBox {
  height: 46vh;
}
.cityActualBox {
  text-align: center;
  color: rgb(220, 227, 228);
  display: block;
  height: 4vh;
  user-select: none;
  width: 100%;
}
.cityActualBox input {
  height: 4vh;
  font-size: 4vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgb(220, 227, 228);
  text-transform: uppercase;
  pointer-events: none;
}
.panelActualBox {
  height: 39vh;
  display: flex;
  align-items: center;
  user-select: none;
}
.imageDivActualBox {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageActualBox {
  width: 25vh;
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 20%;
}

.listDivActualBox {
  display: flex;
  font-size: 1.7vw;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column3 ul {
  column-count: 2;
}
.column3 ul li {
  width: 105%;
  margin-right: 10px;
  font-size: 0.8em;
}
.column2 ul {
  column-count: 2;
  column-gap: 13%;
}
.column2 ul li {
  width: 120%;
}
.column1 ul {
  column-count: 1;
}
.column1 ul li {
  width: 60%;
}
.listDivActualBox ul {
  color: rgb(220, 227, 228);
}
.listDivActualBox ul li {
  display: flex;
  justify-content: space-between;
}
.actualBoxValue {
  color: #e76244;
}
.noData {
  height: 46vh;
  display: block;
  text-align: center;
  font-size: 3em;
  color: rgb(255, 0, 0);
}
@media (max-width: 1046px) {
  .listDivActualBox {
    font-size: 1.6vw;
  }
}
@media (max-width: 872px) {
  .listDivActualBox {
    font-size: 1.4vw;
  }
}
@media (max-width: 768px) {
  .listDivActualBox {
    font-size: 1.7vw;
  }
}
@media (max-width: 698px) {
  .listDivActualBox {
    font-size: 2vh;
  }
  .column3 ul {
    column-count: 2;
  }
  .column2 ul {
    column-count: 1;
  }
}
@media (max-width: 520px) {
  .imageActualBox {
    width: 20vh;
    height: 20vh;
  }
}
@media (max-width: 400px) {
  .imageActualBox {
    width: 15vh;
    height: 15vh;
  }
}
