.cityActualBox {
  text-align: center;
  color: rgb(220, 227, 228);
  display: block;
  height: 2vh;
  user-select: none;
}
.cityActualBox input {
  font-size: 2em;
  text-align: center;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  color: rgb(220, 227, 228);
  text-transform: uppercase;
  pointer-events: none;
}
.panelActualBox {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
  height: 44vh;
  display: flex;
  position: relative;
  align-items: center;
  user-select: none;
}

.imageDivActualBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
}
.imageActualBox {
  width: 12em;
  height: 12em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sunny {
  background-image: url("./assets/moon.svg");
}
.listDivActualBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  white-space: nowrap;
}
.column3 ul {
  column-count: 2;
}
.column3 ul li {
  width: 105%;
  padding-right: 10px;
  font-size: 0.8em;
}
.column2 ul {
  column-count: 2;
  column-gap: 13%;
}
.column2 ul li {
  width: 120%;
}
.column1 ul {
  column-count: 1;
}
.column1 ul li {
  width: 60%;
}
.listDivActualBox ul {
  color: rgb(220, 227, 228);
}
.listActualBox {
  color: black;
}
.listDivActualBox ul li {
  display: flex;
  justify-content: space-between;
}
.actualBoxValue {
  color: #e76244;
}
.noData {
  height: 46vh;
  display: block;
  text-align: center;
  font-size: 3em;
  color: rgb(255, 0, 0);
}
