@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
.weatherBoxes {
  position: relative;
  background-color: rgba(23, 27, 31, 1);
  font-family: "Varela Round", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}
