.weatherBox {
  margin-right: 2vw;
  margin-left: 2vw;
  background: rgb(138, 138, 138);
  background: linear-gradient(
    0deg,
    rgba(138, 138, 138, 1) 0%,
    #2d6b72 0%,
    #4affd2 100%
  );
  user-select: none;
  height: 54vh;
  color: rgb(220, 227, 228);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.weekDayBox {
  height: 8vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7vh;
  color: white;
}
.imageBox {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 17vh;
  height: 17vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid rgba(0, 0, 0, 0) 6px;
}
.listDataBox {
  padding-top: 3vh;
  height: 14vh;
}

.listDataBox ul li {
  display: flex;
  justify-content: center;
  font-size: 2.2vh;
}
.dayBoxName {
  width: 55%;
  white-space: nowrap;
}
.dayBoxValue {
  width: 10%;
}
.icons {
  display: flex;
  justify-content: space-around;
  height: 7vh;
}
.icon {
  height: 7vh;
  width: 8%;
}
.iconNr1Image {
  width: 100%;
  height: 4vh;
  background-image: url("./assets/thermometer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.iconText {
  height: 3vh;
  white-space: nowrap;
  font-size: 2vh;
  text-align: center;
}
.iconNr2Image {
  width: 100%;
  height: 4vh;
  background-image: url("./assets/wind.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.iconNr3Image {
  width: 100%;
  height: 4vh;
  background-image: url("./assets/humidity.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dataDayBox {
  height: 5vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
}
