.personalizeCityDiv {
  font-size: 4vh;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}
.personalizeCityDiv input {
  border: 0px;
  border-radius: 20px;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.7);
  width: 21vw;
  font-size: 2.5vh;
}
.personalizeMenu li {
  display: flex;
  justify-content: space-between;
  font-size: 3vh;
  height: 6vh;
  color: rgb(22, 22, 22);
  width: 26vw;
}

.divPersonalizeMenu {
  height: 89vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 2.3vh;
  width: 9%;
  min-width: 2em;
  background: rgb(236, 236, 236);
  border-radius: 1em;
  cursor: pointer;
}

.switch div {
  height: 2.3vh;
  width: 50%;
  min-width: 1em;
  border-radius: 1em;
  background: rgb(236, 236, 236);
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  background-color: rgb(129, 129, 129);
  cursor: pointer;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  background-color: rgb(47, 161, 133);
  cursor: pointer;
}
.switch input {
  cursor: pointer;
}
@media (max-width: 1200px) {
  .personalizeCityDiv input {
    width: 26vw;
  }
  .personalizeMenu li {
    width: 34vw;
  }
}
@media (max-width: 992px) {
  .personalizeCityDiv input {
    width: 30vw;
  }
  .personalizeMenu li {
    width: 36vw;
  }
}
@media (max-width: 768px) {
  .personalizeCityDiv input {
    width: 35vw;
  }
  .personalizeMenu li {
    width: 45vw;
  }
}
@media (max-width: 576px) {
  .personalizeCityDiv input {
    width: 65vw;
  }
  .personalizeMenu li {
    width: 80vw;
  }
}
