.submenu {
  white-space: nowrap;
  padding-top: 6vh;
  display: flex;
  justify-content: center;
}
.submenuInput {
  background-color: rgba(255, 255, 255, 0.7);
  border: 0px solid #000000;
  cursor: pointer;
  color: #414040;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.6em;
  height: 5vh;
  text-align: center;
}
.submenuInput:focus {
  box-shadow: none;
}
input[type="text"]:focus {
  outline: none;
}
.submenuInput:first-child {
  border-bottom-left-radius: 28px;
  border-top-left-radius: 28px;
  border-right: 1px solid #1f1f1f;
}
.submenuInput:last-child {
  border-bottom-right-radius: 28px;
  border-top-right-radius: 28px;
  border-left: 1px solid #1f1f1f;
}
.submenuInput:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.submenuInput:active {
  position: relative;
  top: 1px;
}
input:focus {
  outline: 0;
}
